%h1 Listing memos

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @memos.each do |memo|
    %tr
      %td= memo.title
      %td= memo.body
      %td= link_to 'Show', memo
      %td= link_to 'Edit', edit_memo_path(memo)
      %td= link_to 'Destroy', memo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Memo', new_memo_path
